:root {
  --primary: #007FFF;
}

.nav {
  padding: 1.8rem 0;
  background-color: var(--primary);
}

.hamburger {
  display: none;
}

.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
}


.nav-list {
  display: flex;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: .5rem;
}

.nav-link {
  font-size: 1.8rem;
  color: #fff;
  padding: 1rem;
  border-radius: .5rem;
  transition: all 300ms ease-in-out;
}

.color {
  background-color: rgb(29, 172, 255);

}

.nav-link:hover {
  background-color: rgb(29, 172, 255);
}

@media only screen and (max-width: 768px) {
  .hamburger {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 2.5rem;
      cursor: pointer;
  }

  .nav-list {
      position: fixed;
      top: 8%;
      left: -100%;
      flex-direction: column;
      align-items: center;
      background-color: #242424;
      width: 100%;
      height: 100%;
      padding: 1.6rem 0;
      transition: all 300ms ease-in-out;
  }

  .nav-list.active {
      left: 0%;
  }

  .nav-item:not(:last-child) {
      margin-right: 0;
  }

  .nav-item {
      margin: 2rem 0;
      width: 100%;
      text-align: center;
  }

  .nav-link {
      font-size: 1.8rem;
      width: 100%;
  }
}